
// $('form').on('ajax:complete', function(event,data,status,xhr){

// 	var item = data.responseText; 
// 	name = data.name;
// $('#customer_form').append('<li>' + name + "</li>");

// 	});
// });








// $(":input:not(input[type=submit])").val("");
// $("#customers_list").html("<%= escape_javascript( render(:partial => "customers") ) %>");
